[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.123.5",
    "ruff>=0.14.8",
    "sqlmodel>=0.0.27",
    "pytest>=9.0.2",
]

[tool.pyright]
venvPath = "."
venv = ".venv"
